main {
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;

  .city-name-paragraph {
    color: white;

    .city-name {
      color: gold;
    }
  }

  .city-temp-paragraph {
    color: white;

    .city-temp {
      color: gold;
    }
  }

  .additionalinfo-paragraph {
    color: whitesmoke;
    .additional-info {
      color: gold;
    }
  }

  .refresh-button {
    width: 74px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    border: 1px solid white;
    border-radius: 5px;
    background: chocolate;
    color: wheat;
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none;

    &:hover {
      cursor: pointer;
    }
  }
}
