* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;

  a {
    color: inherit;
  }
}

body {
  background: #37474f;

  #root {
    display: flex;
    justify-content: center;
    align-items: start;
  }
}
